openapi: 3.2.0
info:
  title: AgentQL Query Data Remote Browser API
  description: AgentQL connects LLMs and AI agents to the entire web through natural language queries, enabling structured data extraction from web pages, documents, and browser sessions. Generated from documentation.
  version: v1
  x-generated-from: documentation
servers:
- url: https://api.agentql.com/v1
  description: AgentQL Production API
security:
- ApiKeyAuth: []
tags:
- name: Remote Browser
  description: Manage remote Chrome browser sessions with CDP access
paths:
  /tetra/sessions:
    post:
      operationId: createRemoteBrowserSession
      summary: AgentQL Create Remote Browser Session
      description: Establish a managed remote Chrome browser session with Chrome DevTools Protocol (CDP) access for authenticated web automation and stealth browsing.
      tags:
      - Remote Browser
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
            examples:
              CreateRemoteBrowserSessionRequestExample:
                summary: Default createRemoteBrowserSession request
                x-microcks-default: true
                value:
                  browser_ua_preset: macos
                  browser_profile: stealth
                  inactivity_timeout_seconds: 300
      responses:
        '200':
          description: Browser session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
              examples:
                CreateRemoteBrowserSession200Example:
                  summary: Default createRemoteBrowserSession 200 response
                  x-microcks-default: true
                  value:
                    session_id: sess-a1b2c3d4e5f6
                    cdp_url: wss://tetra.agentql.com/sessions/sess-a1b2c3d4e5f6/cdp
                    expires_at: '2026-04-19T15:30:00Z'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateSessionRequest:
      type: object
      description: Request body for creating a remote browser session.
      properties:
        browser_ua_preset:
          type: string
          enum:
          - windows
          - macos
          - linux
          description: Operating system to simulate in the browser user agent.
          example: macos
        browser_profile:
          type: string
          enum:
          - light
          - stealth
          description: Browser behavior profile.
          example: stealth
        inactivity_timeout_seconds:
          type: integer
          description: Seconds of inactivity before the session is automatically terminated.
          example: 300
        proxy:
          type: object
          description: Proxy configuration for the browser session.
          properties:
            type:
              type: string
              enum:
              - tetra
              - custom
              example: tetra
    CreateSessionResponse:
      type: object
      description: Response containing the remote browser session details.
      properties:
        session_id:
          type: string
          description: Unique identifier for the created session.
          example: sess-a1b2c3d4e5f6
        cdp_url:
          type: string
          format: uri
          description: WebSocket URL for Chrome DevTools Protocol access.
          example: wss://tetra.agentql.com/sessions/sess-a1b2c3d4/cdp
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the session will expire.
          example: '2026-04-19T15:30:00Z'
    ErrorResponse:
      type: object
      description: Error response returned when a request fails.
      properties:
        error:
          type: string
          description: Error type or code.
          example: invalid_query
        message:
          type: string
          description: Human-readable error description.
          example: The provided query is not valid AgentQL syntax.
        request_id:
          type: string
          description: Request ID for debugging.
          example: req-a1b2c3d4
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key from the AgentQL Dev Portal (https://dev.agentql.com)
